
/* NMBU Logo at bottom right corner */
body:after {
  background-image: url(img_Ecat/UT_Logo_0072_White_EN.png);
  background-size: 235px 45px;
  background-repeat: no-repeat;
  position: fixed;
  width: 235px;
  height: 45px;
  z-index: 30;
  right: 120px;
  bottom: 8px;
  content:"";
}

/*remove border from images*/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid #eee; //used to be 4px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

/*Needed to measure screen size*/
div.fill-screen {
    position: static;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
/*Needs part above to fit*/
img.make-it-fit {
    max-width: 40%;
    max-height: 40%;
}

#left {
  left8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;,
}

#right {
  left:37.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
